.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #2f2f2f;
  color: #F2E29F;
  padding: 1em;
}

.app-header h1{
  font-size: 2.5em;
}

.app-header button{
width: 40px;
height: 40px;
background-color: inherit;
border: none;
}

.app-header img{
  width: 30px;
}




