.app-footer{
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-footer p{
    font-size: 12px;
}

@media (min-width:700px) {
    .app-footer p{
        font-size: 18px;
    }
}
