.app-hamburger {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    top: 10vh;
    right: 0px;
    background-color: #ffffff;
    color: #2f2f2f;
    border: 1px solid rgba(109, 109, 109, 0.27);
}

.app-hamburger img{
    margin-inline: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

}

.grid-item:hover {
    background-color: rgba(179, 175, 175, 0.188);
}