/* sdcd */

.note-preview h2{
    text-align: center;
    font-family: calistoga;
    margin-bottom: 20px;
}

.note-preview .todos-ul{
    list-style: none;
    display: contents;
    font-family: calistoga;
}

.todo-remove-btn{
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.todo-remove-btn:hover{
  background-color: rgba(128, 128, 128, 0.491);
}

.next-todo-input{
    border: none;
    border-radius: 20px;
}
