

.note-app-page{
    padding: 10px;
}
.note-app-page{
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}


.todos-ul{
    display: table-cell;
    gap: 10px;
}
.next-todo-input{
    width: 100%;
}

.todo-li{
    margin: 10px auto;
}