

.note-app-page{
    padding: 10px;
}
.note-app-page{
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

.notes-list-ul{
    columns: 200px;
    column-gap: 2em;
    list-style-type: none;
    padding: 0;
}

.notes-list-ul .note{
    padding: 1em;
    margin-bottom: 1.3em;
    -webkit-column-break-inside: avoid;
    border-radius: 2px;
    color: black;
}

.actions-note-item{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.actions-note-item button{
    min-height: 20px;
    min-width: 20px;
}
.actions-note-item input{
    height: 20px;
    width: 20px;
}

.todo-remove-btn{
    min-width: 20px;
    min-height: 20px;
}
.todos-ul{
    display: table-cell;
    gap: 10px;
}
.next-todo-input{
    width: 100%;
}

.todo-li{
    margin: 10px auto;
}