/* sdad */

.note-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-filter{
    width: 70vw;
    border-radius: 6px;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.159);

} 

.text-filter input{
    border: none;
    font-size: 15px;
    outline: none;
    background-color: rgba(128, 128, 128, 0);
} 
.text-filter button{
    border: none;
    background-color: transparent;
     max-width: 10px;
}

.Keep-filter-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}