
.notes-list-ul{
    columns: 200px;
    column-gap: 2em;
    list-style-type: none;
    padding: 0;
}

.notes-list-ul li.note{
    box-shadow: 7px 7px 11px -4px rgba(0,0,0,0.24);
}

.notes-list-ul .note{
    padding: 1em;
    margin-bottom: 1.3em;
    -webkit-column-break-inside: avoid;
    border-radius: 2px;
    color: black;
}

.actions-note-item{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.actions-note-item button{
  background-color: transparent;
}
.actions-note-item input{
    height: 20px;
    width: 20px;
}

.pin-button{
   position: relative;

}
.label-color-item{
    position: relative;
}

.actions-note-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.notes-list-ul .note{
    border-radius: 10px;
}

.actions-note-item > *{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}

.golden-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

.grey-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

.fa-paint-brush:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

.actions-note-item > *:hover{
    background-color: rgba(128, 128, 128, 0.885);
}

.input-color-item{
    visibility: hidden;
}

.action-note-container{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}