/* sdcd */

.note-preview h2{
    text-align: center;
}

.note-preview .todos-ul{
    list-style: none;
    display: contents;
}

.todo-remove-btn{
    border-radius: 50%;
    border: none;
}

.todo-remove-btn:hover{
  background-color: rgba(128, 128, 128, 0.491);
}
