.add-new-book{
    height: 78vh;
    display: flex;
align-items: center;
flex-direction: column;
text-align: center;
justify-content: center;
width: 100%;
}

.add-new-book input{
    margin-inline: auto;
    margin-top: 30px;
    width: 40vh;
}



.add-new-book .selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
}

.selection button{
    height: fit-content;
    margin-inline-start: 10px;
}

.selection li{
    list-style-type: none;
}

.add-new-book ul{
    overflow-y:scroll ;
    padding-inline: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
}

.add-book-btn{
    margin-top: 15px;
    font-size: 25px;
    color: #2f2f2f;
}