/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* General Components */
@import 'cmps/home-page.css';
@import 'cmps/app-header.css';
@import 'cmps/app-hamburger.css';
@import 'cmps/app-footer.css';
@import 'cmps/main-content.css';
@import 'cmps/user-msg.css';
@import 'cmps/about-page.css';

/* Apps */
@import 'apps/mail/email-app.css';
@import 'apps/note/note-app.css';

/* Email-cmps */
@import 'apps/mail/email-preview.css';
@import 'apps/mail/email-list.css';
@import 'apps/mail/email-filter.css';
@import 'apps/mail/email-navbar.css';
@import 'apps/mail/email-add.css';
@import 'apps/mail/email-details.css';



/* Note-cmps */

@import 'apps/note/note-app.css';
@import 'apps/note/add-note.css';
@import 'apps/note/note-filter.css';
@import 'apps/note/note-list.css';
@import 'apps/note/note-preview.css';



@import '../../apps/book/css/styles.css'