.details-section{
    padding: 7px;
   border-bottom:  0.8px solid #ECEFF1;
   color: #181818;
   cursor: auto;
   background-color: #F2F6FC;
   position: relative;
}

.btns{
 width: 130px;
 position: absolute;
 top: 0;
 right: 0;
 margin-top: 20px;
}

.details-section h4{
max-width: 800px;
}

.details-section >*{
    margin: 10px;
}

.details-section .subject{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.from p{
    margin-inline-end: 5px;
}

.details-section .body{
    margin-bottom: 20px;
}

.details-section .from{
    width: 100%;
    text-align: right;
}

.details-section h2{
    color: #181818;
    max-width: 230px;
}

.details-section button , .details-section .button{
    background-color: transparent;
    border: none;
    margin-inline: 3px;
    width: fit-content;
    border-radius: 50%;

    transition: 0.3s;
}

.details-section button:hover{
background-color: #e6e6e6;
scale: 1.1;
}

@media (min-width:600px) {
    .details-section{
        padding: 30px;
      
    }

    .btns{
        display: flex;
    }
}
    