.email-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.8px solid #cbd4dd;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-inline: 15px;
    overflow: hidden;
    
}

.email-preview button{
    background-color: inherit;
    border: none;
}

.email-preview .bolded{
    min-width: 15%;
    overflow: hidden;
    margin-inline-end: 5px;
}

.email-preview .body{
width: 42%;
}

.email-preview .bold{
    min-width: 25%;
}

.email-preview:hover {
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
    z-index: 10;
}

.fa-star-o, .fa-star{
    margin-inline-end: 20px;
}

.email-preview .fa-envelope-o, .fa-envelope-open-o, .fa-trash{
    margin: 8px;
}
