.navbar-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    bottom: 250px;
}

.navbar-section .new-email-btn{
    background-color: #C2E7FF;
    margin: 10px;
    border: none;
    width: 30%;
    height: 8%;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;

    transition: 0.3s;
}

.fa.fa-pencil{
margin-inline-end:10px ;
}

.navbar-section .new-email-btn:hover{
    scale: 1.1;
    box-shadow: 10px 13px 47px -34px rgba(0,0,0,1);
}

.navbar-section .income{
    padding: 11px;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;
    background-color: inherit;
    border: none;
    font-size: 0.8rem;
}

.income> .fa{
    margin-inline-end: 5px;
}

.navbar-section .income:hover{
    background-color: rgb(239, 239, 239);
    font-weight: bolder;
    color: #282828;
}

@media (min-width:600px){
    .navbar-section{
        height: 100vh;
        position: relative;
        width: 17%;
        flex-direction: column;
    }

    .navbar-section .income{
        padding: 15px;
        font-size: 1.1rem;
        width: 100%;
        text-align: left;
    }

    .navbar-section .new-email-btn{
        width: 70%;
        align-self: flex-start;
    }
}