.email-list{
    height: 63vh;
    overflow-y: scroll;
}
.email-list li{
    list-style-type: none;

    width: 100%;
    cursor: pointer;
}

.email-list ul{
    padding: 0;
}

@media (min-width:600px){

    .email-list{
        height: 80%;
    }
    
}