.email-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.8px solid #b0aeae;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-inline: 15px;
}

.email-preview .bolded{
    font-weight: bolder;
    min-width: 15%;
}

.email-preview .body{
width: 42%;
}

.email-preview .bold{
    font-weight: bold;
    min-width: 25%;
}

.email-preview:hover {
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
}