.add-email{
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom:12.2vh;
    right: 5vh;
    height: 55%;
    width: 35%;
    border-radius: 30px;
    box-shadow: 1px -14px 47px -17px rgba(0,0,0,0.46);
}

button.line{
    background-color:inherit;
    /* border: none; */
    
}

.add-email .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: aliceblue;
    border-radius: 30px;
}

.add-email .new-email{
    height: 15%;
    width: 100%;
    text-align: left;
    display: flex;
    padding: 15px;
    background-color: aliceblue;
    border-bottom: 1px solid rgb(225, 233, 240);

}

.add-email .to{
    text-align: left;
    height: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    border-bottom:  1px solid rgb(225, 233, 240);
}

.to input{
    width: 95%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family: associate;
}

.add-email .subject{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom:  1px solid rgb(225, 233, 240);
    padding-inline: 5px;
}

.subject input{
    width: 90%;
    border: none;
    font-size: 14px;
    outline: none;
    font-family: associate;
}

.add-email .content{
    height: 55%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content textarea{
    resize: none;
    height: 90%;
    width: 100%;
    margin: auto;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(107, 107, 107);
    font-family: associate;
}

.add-email .buttons{
    border-top: 1px solid rgb(225, 233, 240);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

