
@font-face {
    font-family: fa;
    src: url('../../fonts/fa/fa-solid-900.ttf');
}

@font-face {
    font-family: koblenz;
    src: url('../../fonts/koblenz/koblenz_serial-regular.otf');
}

@font-face {
    font-family: associate;
    src: url('../../fonts/associate/AssociateSansRegular.otf');
}

.fa{
    font-family: fa;
}

.fa.font-awesome-icon::after{
    content: "\f002";
}