

@font-face {
    font-family: koblenz;
    src: url('../../fonts/koblenz/koblenz_serial-regular.otf');
}

@font-face {
    font-family: associate;
    src: url('../../fonts/associate/AssociateSansRegular.otf');
}