* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  color: var(--clr4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'koblenz'
}

p {
  font-family: 'associate';
}

a {
  text-decoration: none;
  color: unset;
  font-family: 'koblenz'
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* tap targets: */
nav a,
button {
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
  font-family: 'koblenz'
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid red
}

.flex-col{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#app{
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex;
}

.unread{
  background-color: #FFFFFF;
  font-weight: bold;
  color: black;
}

.read{
  background-color: #F2F6FC;
}
